/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px){
   .container{
      margin-inline: 1rem;
   }

   .home{
      &__img{
         width: 180px;
      }
      &__title{
         font-size: 8rem;
      }
   }

   .model{
      &__img{
         width: 220px;
      }
      &__tooltip-text{
         font-size: var(--smaller-font-size);
         transform: translate(42px, -40px);
      }
      &__tooltip-1 &__tooltip-text,
      &__tooltip-2 &__tooltip-text{
         transform: translate(40px, -40px) scaleX(-1);
      }
      &__tooltip-1{
         top: 3rem;
         left: 4rem;
      }
      &__tooltip-2{
         top: 0;
      }
      &__tooltip-3{
         bottom: 2rem;
         left: 3rem;
      }
      &__tooltip-4{
         right: 4rem;
         bottom: 6rem;
      }
   }

   .sponsor__container{
      gap: 4rem 2rem;
   }
}

/* For medium devices */
@media screen and (min-width: 576px){
   .about__container{
      grid-template-columns: 380px;
      justify-content: center;
   }

   .footer{
      &__data{
         grid-template-columns: repeat(3, max-content);
         column-gap: 3rem;
      }
      &__group{
         grid-column: initial;
      }
      &__social{
         justify-content: initial;
      }
   }
}

@media screen and (min-width: 768px){
   .home{
      &__img{
         width: 320px;
      }
      &__title{
         font-size: 16rem;
         top: -4rem;
      }
      &__social{
         top: 0;
         bottom: 0;
         align-content: center;
      }
   }

   .sponsor__container{
      grid-template-columns: repeat(4, max-content);
   }

   .footer{
      &__container{
         grid-template-columns: repeat(2, max-content);
         justify-content: space-between;
      }
      &__data{
         column-gap: 4rem;
      }
   }
}

/* For large devices */
@media screen and (min-width: 1150px){
   .container{
      margin-inline: auto;
   }

   .section{
      padding-block: 7rem 2rem;

      &__title{
         font-size: var(--h1-font-size);
      }
   }

   .nav{
      height: calc(var(--header-height) + 2rem);

      &__toggle,
      &__close{
         display: none;
      }
      &__list{
         flex-direction: row;
         column-gap: 4.5rem;
      }
   }

   .home{
      &__container{
         position: relative;
      }
      &__img{
         width: 500px;
      }
      &__title{
         font-size: var(--biggest-font-size);
         top: -6.5rem;
         column-gap: 1rem;
      }
      &__tooltip{
         right: 6rem;

         &-img{
            width: initial;
         }
         &-text{
            font-size: var(--normal-font-size);
            transform: translate(82px, -52px);
         }
      }
      &__social{
         &-text{
            font-size: var(--normal-font-size);
         }
         &-links{
            row-gap: 1rem;
         }
         &-link{
            font-size: 1.5rem;
         }
      }
      &__button{
         position: absolute;
         bottom: 4.5rem;
      }
   }

   .about{
      &__container{
         grid-template-columns: 400px 500px;
         align-items: center;
         column-gap: 5rem;
      }
      &__data .section__title,
      &__data{
         text-align: initial;
      }
      &__description{
         margin-bottom: 3.5rem;
      }
      &__img{
         width: 500px;
      }
   }

   .favorite{
      &__container{
         max-width: 1100px;
         margin-inline: auto;
      }
      &__img{
         width: 350px;
      }
   }

   .model{
      &__img{
         width: 500px;
      }
      &__tooltip{
         &-img{
            width: initial;
         }
         &-text{
            font-size: var(--normal-font-size);
            padding: .5rem 1.25rem;
            transform: translate(82px, -56px);
         }
      }
      &__tooltip-1{
         top: 7.5rem;
         left: 8.5rem;
         
         & .model__tooltip-text{
            transform: translate(82px, -56px) scaleX(-1);
         }
      }
      &__tooltip-2{
         transform: initial;
         top: 6.5rem;
         right: -1.5rem;

         & .model__tooltip-text{
            transform: translate(82px, -56px);
         }
      }
      &__tooltip-3{
         transform: scaleX(-1);
         left: 0;
         bottom: 6rem;

         & .model__tooltip-text{
            transform: translate(82px, -56px) scaleX(-1);
         }
      }
      &__tooltip-4{
         bottom: 10rem;
         right: 7rem;
      }
   }

   .sponsor__container{
      column-gap: 7.5rem;
      padding-bottom: 6rem;
   }

   .footer{
      padding-bottom: 3rem;

      &__data{
         column-gap: 6rem;
      }
      &__form{
         grid-template-columns: 1fr max-content;
         background-color: var(--container-color);
         padding: .5rem;
         border-radius: 4rem;
         width: 380px;
      }
      &__social{
         column-gap: 1.5rem;

         &-link{
            font-size: 1.5rem;
         }
      }
      &__copy{
         margin-top: 7.5rem;
      }
   }
   
   .scrollup{
      right: 3rem;
   }
}
