/*=============== FAVORITE ===============*/
.favorite{
   &__container{
      padding-top: 2rem;
   }
   &__article{
      width: 220px;
      display: grid;
      justify-items: center;
      filter: blur(8px);
      scale: .8;
      transition: filter .3s, scale .3s;
   }
   &__img{
      width: 220px;
      margin-bottom: 1.5rem;
   }
   &__model{
      background: var(--gradient-color);
      padding: .5rem 1.5rem;
      border-radius: 4rem;
      color: var(--white-color);
   }
}

/* Swiper class */
.swiper-slide-active,
.swiper-slide-duplicate-active{
   filter: blur(0);
   scale: 1;
}