/*=============== MODEL ===============*/
.model{
   &__container{
      padding-top: 2rem;
      row-gap: 2.5rem;
   }
   &__content{
      position: relative;
      justify-self: center;
   }
   &__img{
      width: 280px;
   }
   &__tooltip{
      position: absolute;

      &-img{
         width: 60px;
      }
      &-text{
         background: var(--gradient-color);
         padding: .25rem .75rem;
         border-radius: 4rem;
         color: var(--white-color);
         font-size: var(--small-font-size);
         font-weight: var(--font-medium);
         position: absolute;
         transform: translate(60px, -40px);
         white-space: nowrap;
      }
   }
   &__tooltip-1,
   &__tooltip-2{
      transform: scaleX(-1);
   }
   &__tooltip-1 &__tooltip-text,
   &__tooltip-2 &__tooltip-text{
      transform: translate(60px, -40px) scaleX(-1);
   }
   &__tooltip-1{
      top: 5.5rem;
      left: 5rem;
   }
   &__tooltip-2{
      top: 1rem;
      right: 1.5rem;
   }
   &__tooltip-3{
      bottom: 1.8rem;
      left: 3.5rem;
   }
   &__tooltip-4{
      bottom: 7rem;
      right: 5rem;
   }
   &__button{
      justify-self: center;
   }
}